.infoList {
  width: 186px;
  border-top: 2px solid #3e4247;
  margin-bottom: 95px;
  margin-right: 17px;
}

.infoHeader {
  font-family: "FiraSansBold";
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #646971;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 7px;
}

.infoItem {
  display: block;
  font-family: "FiraSansLight";
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: white;
  margin-top: 8px;
}

.infoItemAll {
  display: block;
  font-family: "FiraSansLight";
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: white;
  margin-top: 15px;
}
