.container {
  background-color: #ffffff;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 179px;
  height: 24px;
}
