.pageFooter {
  background-color: black;
  padding-top: 32px;
  padding-bottom: 31px;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.name {
  font-family: "FiraSansBold";
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #646971;
  margin: 0;
  margin-bottom: 8px;
}

.regnumber,
.identnumber,
.telephone {
  font-family: "FiraSansLight";
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #646971;
  margin: 0;
  margin-bottom: 8px;
}

.identnumber {
  margin-bottom: 16px;
}

.info {
  width: 795px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.copyright {
  font-family: "FiraSansLight";
  font-size: 11px;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  margin: 0;
}
