.cardContainer {
  display: block;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  margin-bottom: 48px;

  &:last-of-type {
    margin-bottom: 96px;
  }

  img {
    width: 491px;
    height: 350px;
  }
}

.content {
  padding-left: 32px;
  padding-top: 24px;
  border-bottom: solid 2px #646971;
}

.address {
  font-family: Monaco;
  font-size: 16px;
  text-align: left;
  color: #646971;
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.name {
  font-family: "FiraSansBold";
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 8px;
}

.description {
  font-family: "FiraSansRegular";
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #3e4247;
  margin: 0;
}
