@import "../../../assets/mixins.scss";
@import "../../../assets/variables.scss";

.cardContainer {
  display: flex;
  margin: 0 auto;
  margin-bottom: 48px;
  width: 1200px;
  background-color: $first-bcg-color;

  &:last-of-type {
    margin-bottom: 96px;
  }

  img {
    width: 491px;
    height: 350px;
  }
}

.content {
  padding-left: 32px;
  padding-top: 24px;
  border-bottom: solid 2px $alt-text-color;
}

.address {
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-family: $alt-text-font;
  color: $alt-text-color;
  text-align: left;
  @include font(16px, 400, 1);
}

.name {
  margin: 0;
  margin-bottom: 8px;
  font-family: $main-text-font;
  color: $side-text-color;
  text-align: left;
  @include font(40px, bold, 1.4);
}

.description {
  margin: 0;
  font-family: $main-text-font;
  text-align: left;
  color: $main-text-color;
  @include font(16px, 400, 1.5);
}
