$first-bcg-color: white;
$second-bcg-color: black;
$main-background-color: rgb(234, 235, 240);
$pale-grey: #eaebf0;
$alt-text-color: #646971;
$main-text-color: #3e4247;
$side-text-color: #000000;
$footer-text-color: #a9afb6;
$second-text-color: white;
$copyright-text-color: #a9afb6;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$main-text-font: "FiraSans";
$alt-text-font: "Monaco";
