@import "../../assets/mixins.scss";
@import "../../assets/variables.scss";

.contacts {
  margin: 0 auto;
  width: 1200px;
}

.wrap {
  margin: 70px auto;
  width: 804px;
  margin-bottom: 64px;
}

.header {
  margin: 0;
  margin-bottom: 14px;
  font-family: $main-text-font;
  color: $main-text-color;
  text-align: center;
  @include font(24px, bold, 1);
}

.description {
  margin: 0;
  margin-bottom: 17px;
  font-family: $main-text-font;
  color: $main-text-color;
  text-align: center;
  @include font(16px, 400, 1.5);
}

.button {
  display: block;
  padding: 12px 32px;
  border: none;
  margin: 0 auto;
  background-color: $second-bcg-color;
  font-family: $main-text-font;
  color: $second-text-color;
  text-align: center;
  @include font(16px, 400, 1);
}
