.container {
  margin: 0 auto;
  width: 1200px;
}
.wrap {
  margin: 0 auto;
  width: 67%;
}

.header {
  font-family: FiraSans;
  font-size: 24px;
  font-weight: bold;
  color: #3e4247;
  text-align: center;
}

.description {
  font-family: FiraSans;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3e4247;
}

.button {
  display: block;
  font-family: FiraSans;
  font-size: 16px;
  text-align: center;
  color: white;
  padding: 12px 32px;
  background-color: black;
  border: none;
  margin: 0 auto;
}
