.contacts {
  margin: 0 auto;
  width: 1200px;
}

.wrap {
  margin: 64px auto;
  width: 804px;
}

.header {
  font-family: "FiraSansBold";
  font-size: 24px;
  font-weight: bold;
  color: #3e4247;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.description {
  font-family: "FiraSansRegular";
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3e4247;
  margin: 0;
  margin-bottom: 16px;
}

.button {
  display: block;
  font-family: "FiraSansRegular";
  font-size: 16px;
  text-align: center;
  color: white;
  padding: 12px 32px;
  background-color: black;
  border: none;
  margin: 0 auto;
}
